/* général */
::placeholder {
  color: grey;
}

.input-sans-bordure {
  border-style: none ;
}
.container{
  text-align: center;
}
.centrer {
  text-align: center;
}

.bt-exit
{
  float :right;
}

.arr-img{
  border-radius: 16px;
}

.bordure{
  border:1px solid
}

.no-gutter{
  margin: 0px;
}
.cadre-3{
  margin: 3px;
}
.cadre-15{
  margin: 15px;
}
.cadre-35{
  margin: 35px;
}

.no-padding{
  padding: 0px;
}
.gras{
  font-weight: bold;
}

.decal{
  margin-left: 100px
}

.fontsize-12{
  font-size: 12px;
}
.fontsize-20{
  font-size: 20px;
}

.smenu{
  height: 65px;
}

.menu{
  height: 100px;
  width: 200px;
}

.margin-top-15{
  margin-top: 15px;
}

.gauche{
  text-align: left;
  }
.droite{
  text-align: right;
}
.centre{
  text-align: center;
}

.largeur-5{
  width: 5px;
}
.largeur-50{
  width: 50px;
}
.largeur-110{
  width: 110px;
}
.largeur-170{
  width: 170px;
}
.largeur-200{
  width: 200px;
}
.largeur-300{
  width: 300px;
}
.largeur-400{
  width: 400px;
}
.largeur-1000{
  width: 1000px;
}

.width-75p{	
  width:75%;
}
.width-90p{	
  width:90%;
}

.en-ligne {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.titre{
  color: rgb(44, 102, 209);
  border: 2px solid rgb(44, 102, 209);
  padding: 0px;
  border-radius: 60px;
}

.noir{
  color: black;
}


.rouge{
  color: red;
}

.vert{
  color: green;
}

.alerteRouge{
  font-size:xx-large;
  margin: 15px;
  color: red;
}
.alerteSimple{
  font-weight: bold;
  font-size:medium;
}

label{
   margin-right: 5px;
  }

/* bouton retour */
.bouton-retour{
  margin-right: 75px;
}

/* incidents*/
.fiche-commun{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: smaller;
  border: 2px solid rebeccapurple;
  padding: 15px;
  margin: 5px;

  border-radius: 12px;
}
.postItUsager {
  text-align: center;
  width: 180px;
  height: 155px;
}
.rubanTechno {
  height: 50px;
  width: 800px;
}

.enAttente{
  background-color: #61dafb;
}
.enCours{
  background-color: greenyellow;
}
.termine{
  background-color: orange;
}
.clos{
  background-color: yellow;
}

/* tableaux */
tr:nth-child(even) {background: white}
tr:nth-child(odd) {background: #edebeb}	
table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}
 th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0#4c8fc9;
	padding:5px;
	color:white;
}
tr {
	border-top:1px solid gray;
	text-align:center;	
}
.petit{
  font-size: small;
} 
.invisible{
  visibility:hidden;
}

